body {
	margin: 0;
}

.content {
	max-width: 1000px;
	margin: auto;
}

.header {
	background-color: #AAA;
}

.navbar {
	max-width: 350px;
	height: 70px;
	list-style-type: none;
	margin: auto;

	&__link {
		color: #000;
		font-size: 14pt;
		font-weight: 600;
	}
}

.services {

	&__container {
		height: 500px;
		background-color: #999;

		&--dark {
			height: 500px;
			background-color: #444;
		}

		&--light {
			height: 500px;
			background-color: #BBB;
		}
	}

	&__image {
		display: block;
		margin: 200px auto 0;
	}

	&__title {
		text-align: center;
		color: #FFF;
		font-size: 16pt;
	}

}

.intro {

	&__title {
		text-align: center;
		margin: 40px auto;
	}

	&__section {
		margin-left: 35px;

		&--right {
			margin-right: 35px;
		}
	}

	&__article {

		&--down {
			margin-top: 20px;
		}
	}

	&__list {
		margin-top: 20px;
	}

}

.subtitle {

	&__title {
		text-align: center;
		margin: 40px auto;
	}

	&__slider {
		max-width: 900px;
		height: 400px;
		background-color: #BBB;
		margin: auto;
		position: relative;
	}

	&__container {
		width: 112px;
		float: right;
	}

	&__item {

		width: 80px;
		height: 80px;
		background-color: #FFF;
		margin: 16px;
	}

}

.form {

	max-width: 900px;
	margin: auto;

	&__title {
		text-align: center;
		margin: 40px auto;
	}

	&__container {

	}

	&__item {
		height: 50px;
		background-color: #BBB;

		&--large {
			height: 200px;
			background-color: #BBB;
		}

		&--right {
			height: 200px;
			position: relative;
		}

		&--special{
			height: 50px;
			background-color: #BBB;
			width: 100%;
		}
	}

	&__button {
		position: absolute;
		width: 150px;
		height: 50px;
		background-color: black;
		top: 150px;
		right: 0;
	}

	&__agreement {
		height: 50px;
		position: absolute;
		top: 80px;
	}

	&__checkbox {
		margin: 20px;
		width: 20px;
		height: 20px;
	}

}

input {
	border: 0 solid black;
}

button {
	border: 0 solid black;
}

.footer {
	margin-top: 50px;
	background-color: #444;
	height: 70px;
}
